.navbar.navbar-expand-lg {
  background-color: #219ebc
}

.center {
  padding: 20px 0;
  text-align: center;
  margin: 50px;
  border: 1px solid
}

#load {
  display: none;
}


body {
  background-color: #8ecae6;
}

.card {
  background-color: #ffb703
}

.flex-container {
  padding-top: 50px;
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  padding: 30px;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.btn.btn-primary{
background-color:#219ebc;
border: 3px solid white;

}

.rajons {
  padding: 20px 0;
  text-align: left;
}

/* .button {
  background-color: rgb(25, 87, 180);
  color: #fff;
  border: 3px solid white;
  padding: 20px;
  margin: 50px;
} */

.outputs {
  padding: 10px;
  font-size: 18px;
}

.region-button {
  background-color:#219ebc;
  margin: 15px;
  border: 3px solid white;
  font-family: arial;
  color: rgb(255, 255, 255);
  width: 120px;
  text-align: center;

  padding: 20px;
}

.rules{
  text-align: left;
  padding-left: 200px;
}
.table{
  align-self: center;
  margin: auto;
}

.navibar{
  padding: 500;
}


.selectit{
  text-align: end;
  padding-right: 30px;
}

a {
  color: #023047
}
/* This is the submit button styles */
button {
  display: block;
  margin: 0 auto;
  padding: .6em .8em;
  /* Font-size is the root value that determines size of spinner parts. 
Change this to whatever you want and spinner elements will size to match. */
  font-size: 20px;
  font-weight: bold;
  border-radius: .4em;
  border: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 1s;
}

/* focus/disabled styles, you can change this for accessibility */
button:focus, button:disabled {
  outline: none;
  background: #aaa;
}

/* This is the space for the spinner to appear, applied to the button */
.spin {
  padding-left: 2.5em;
  display: block;
}

/* position of the spinner when it appears, you might have to change these values */
.spin .spinner {
  left: -.6em;
  top: .4em;
  width: 2.5em;
  display: block;
  position: absolute;
}

/* spinner animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

/* The actual spinner element is a pseudo-element */
.spin .spinner::before {
  content: "";
  width: 1.5em; /* Size of the spinner */
  height: 1.5em; /* Change as desired */
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: solid .35em #999; /* Thickness/color of spinner track */
  border-bottom-color: #555; /* Color of variant spinner piece */
  animation: .8s linear infinite spinner; /* speed of spinner */
  transform: translate(-50%, -50%);
  will-change: transform;
}

/* optional, but it will affect the size if changed */
*, *::before, *::after {
  box-sizing: border-box;
}