.navbar.navbar-expand-lg {
  background-color: #219ebc
}

.center {
  padding: 20px 0;
  text-align: center;
  margin: 50px;
}

body {
  background-color: #8ecae6;
}

.card {
  background-color: #ffb703
}

.flex-container {
  padding-top: 50px;
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  padding: 30px;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.btn.btn-primary{
background-color:#219ebc;
border: 3px solid white;

}

.rajons {
  padding: 20px 0;
  text-align: left;
}

.button {
  background-color: rgb(25, 87, 180);
  color: #fff;
border: 3px solid white;
  padding: 20px;
  margin: 50px;
}

.outputs {
  padding: 10px;
  font-size: 18px;
}

.region-button {
  background-color:#219ebc;
  margin: 15px;
  border: 3px solid white;
  font-family: arial;
  color: #fff;
  width: 120px;
  text-align: center;

  padding: 20px;
}

.rules{
  text-align: left;
  padding-left: 200px;
}
.table{
  align-self: center;
  margin: auto;
}

.navibar{
  padding: 500;
}


.selectit{
  text-align: end;
  padding-right: 30px;
}

a {
  color: #023047
}