
<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="./static/css/normalize.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
    </head>
    <body>
        <a  class="flex-container region-button" href="/">Atpakaļ</a>

    <div class="flex-container">

    <ul>
    {{ files.sort(reverse=True) }}
    <!-- {{ pwd }} -->
    {% for file in files %}
        <li>

            <a class="outputs" href="{{ (request.path + '/' if request.path != '/' else '') + file}}">
                {{ ('' if request.path != '/' else '') + file}}
            </a>
            
        </li>
        <br>
    {% endfor %}
    </ul>
    </div>
    <div class="center">
        <h1>Info per excel filtriem.</h1>
        <div class="flex-container"></div>
        <div>Visi faili ir filtrējami</div>  
        <img class="card-img-top" src="{{ url_for('static', filename='filters.png') }}" alt="Card image ss.com">
  
        <div>Izvēlies kritērijus</div>    
        <img class="card-img-top" src="{{ url_for('static', filename='filter_choice.png') }}" alt="Card image ss.com">


        <div>Var uzstādīt cenu no-līdz</div>   
        <img class="card-img-top" src="{{ url_for('static', filename='filter_price.png') }}" alt="Card image ss.com">

        <div>Vēl piekombinē stāvu</div>   
        <img class="card-img-top" src="{{ url_for('static', filename='filter_floor.png') }}" alt="Card image ss.com">
        <br>
        <div><h3>Rezultātā dzīvokļi tikai Imantā, 6. stāvā cenā ko mēs izvēlējāmies.</h3></div>

        <p></p>
    </div>
    <br><br><br>
    </body>

</html>
