
<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="./static/css/normalize.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
    </head>
    <body>
        <a  class="flex-container region-button" href="/">Atpakaļ</a>

    <div class="flex-container">

    <ul>
    {{ files.sort(reverse=True) }}
    <!-- {{ pwd }} -->
    {% for file in files %}
        <li>

            <a class="outputs" href="{{ (request.path + '/' if request.path != '/' else '') + file}}">
                {{ ('' if request.path != '/' else '') + file}}
            </a>
            
        </li>
        <br>
    {% endfor %}
    </ul>
    </div>
    <br><br><br>
    </body>

</html>
