
{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="./static/css/normalize.css">

    </head>
    <body>
        <div class="flex-container">
            <!-- Content here -->

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ url_for('static', filename='ss_logo.png') }}" alt="Card image ss.com">
            <div class="card-body">
              <h5 class="card-title">ss.com</h5>
              <p class="card-text">Saņemt jaunākos sludinājumus par dzīvokļiem</p>
              <a href="/ss" class="btn btn-primary">Aiziet!</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <br>
            <img class="card-img-top" src="{{ url_for('static', filename='city24_logo.png') }}" alt="Card image cap">
            <div class="card-body">
              
              <h5 class="card-title">City24.lv</h5>
              <p class="card-text">Saņemt jaunākos sludinājumus par dzīvokļiem</p>
              <a href="/city24" class="btn btn-primary">Aiziet!</a>
            </div>
          </div>

          <!-- <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
          </div>
          </div>
    </body>
</html>
{% endblock %}